.body {
  display: block;
  margin: 0 auto;
  background-color: rgb(224, 224, 224);
  margin-top: 10%;
  padding-top: 15px;
  border-radius: 10px;
  width: auto;
  box-shadow: 10px 10px 5px rgb(169, 189, 196);
}
form {
  text-align: center;
}
#input-form {
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(7, 7, 7);
  border-width: 3px;
  width: 75%;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
form .go {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(255, 166, 0, 0.397);
  border-width: 3px;
  width: 20%;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(22, 15, 1, 0.966);
  color: aliceblue;
  padding: 10px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgba(70, 38, 18, 0.555);
}
h1 {
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: -30px;
  margin-bottom: -18px;
}
h1,
h2 {
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin: 0 auto;
  width: 95%;
}
hr {
  width: 95%;
  border: none;
  height: 1px;
  background: beige;
}
#day,
.weather,
.text,
.links {
  display: flex;
  position: relative;
  /*justify-content: space-between; /* Align items evenly */
}
.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: right;
  position: relative;
  justify-content: flex-end;
  margin: 20px auto;
  top: -116px;
  width: 94%;
}
#day {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  justify-content: flex-start;
  margin: 20px auto;
  width: 95%;
}
.weather {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: flex-start;
  margin: 20px auto;
  width: 95%;
}
.links {
  text-align: center;
  flex-direction: column; /* Stack links if necessary */
}
